#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app{
    height: 100%;
    background: url('./pictures/img1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    height: 200px;
    width: 500px;
    background-color: rgb(222, 222, 222, 0.8);
    color: black;
    border: 3px solid white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    box-shadow: 10px 10px 10px rgb(48, 48, 48);
}

.btn{
    background-color: rgb(37, 37, 37, 0.3);
    color: black;
    height: 35px;
    width: 150px;
    font-size: 14px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    transition: transform 0.1s, box-shadow 0.1s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover{
    background-color: rgb(37, 37, 37, 0.6);
    color: white;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

@media only screen and (max-width: 600px){
    .card{
        width: 80%;
        height: 30%;
    }
}